.hos:visited {
  border-bottom: 5px solid red;
}

.tour:visited {
  border-bottom: 5px solid dodgerblue;
}

.rest:visited {
  border-bottom: 5px solid green;
}

nav {
  background-color: #323e53 !important;
  color: #ffffff;
}

.white {
  color: #ffffff;
}

