<div class="uk-navbar-item">
  <a *ngIf="" (click)="loginFacebook()" class="uk-icon-button  uk-margin-small-right"
     uk-icon="facebook"></a>
  <a id="loginGooglebtn" *ngIf="authService.user" (click)="loginGoogle()" class="uk-icon-button uk-margin-small-right"
     uk-icon="google-plus"></a>
  <a id="logo"><img *ngIf="authService.user" class="uk-icon-button" src="{{photo}}"
                    width="50px" height="50px"></a>
  <div id="menu" uk-dropdown="mode: click">
    <ul class="uk-nav uk-dropdown-nav">
      <li id="name" class="uk-nav-header">{{username}} ({{useremail}})</li>
      <li><a class="uk-dropdown-close" data-toggle="modal" data-target="#route">Route Detail</a></li>
      <li><a class="uk-dropdown-close">History</a></li>
      <li><a class="uk-dropdown-close">Payment</a></li>
      <li class="uk-nav-divider"></li>
      <li><a class="uk-dropdown-close" data-toggle="modal" data-target="#logoutConfirm" (click)="setNoticeLogout()"><span
        class="uk-margin-small-right" uk-icon="sign-out" style="color: red"></span>Logout</a>
      </li>
    </ul>
  </div>
</div>


<!--Route popup-->

<div class="modal fade" id="route" style="z-index:9999999;">
  <div class="modal-dialog" style="text-align: center">
    <div class="modal-content" style="height:500px;padding: 2%;margin-top: 13%;">
      <div class="title" style="margin-top: 6%;z-index: 999;">Route and call service
      </div>
      <div class="list-group" style="z-index: 9999999;">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <button title="Select vehicle" id="select" class="btn btn-secondary dropdown-toggle" type="button"
                  style="float: left;"
                  id="dropdownMenu2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Select vehicle
          </button>
          <span title="price" style="float: right;margin-top: 3%">
            <label id="price2"></label>
                        </span>
          <div id="type" class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button title="Motorcycle" class="dropdown-item" type="button" value="1" (click)="setMotor()">
              Motorcycle
            </button>
            <button title="Taxi" class="dropdown-item" type="button" value="2" (click)="setTaxi()">
              Taxi
            </button>
          </div>
        </a>
      </div>
      <div id="route-panel" style="position: relative;overflow-y: auto;overflow-x: auto;margin-top: 4%;">
      </div>
    </div>
  </div>
</div>

<!--/Route popup-->

<app-confirm></app-confirm>




