<div class="uk-navbar-item">
  <a *ngIf="" (click)="loginFacebook()" class="uk-icon-button  uk-margin-small-right"
     uk-icon="facebook"></a>
  <a *ngIf="authService.user" (click)="loginGoogle()" class="uk-icon-button uk-margin-small-right"
     uk-icon="google-plus"></a>
  <a><img *ngIf="authService.user | async as user" class="uk-icon-button" [src]="user.photoURL"
          width="50px" height="50px"></a>
  <div uk-dropdown="mode: click">
    <ul class="uk-nav uk-dropdown-nav">
      <li class="uk-nav-header">{{username}}</li>
      <li><a>Route Detail</a></li>
      <li><a>History</a></li>
      <li><a>Payment</a></li>
      <li class="uk-nav-divider"></li>
      <li (click)="authService.logout()"><a><span class="uk-margin-small-right" uk-icon="sign-out"></span>Logout</a>
      </li>
    </ul>
  </div>
</div>

<!--<div class="uk-navbar-item">-->
<!--<a *ngIf="!authService.use" (click)="printUser()" class="uk-icon-button  uk-margin-small-right"-->
<!--uk-icon="facebook"></a>-->
<!--<a *ngIf="!authService.user" (click)="loginGoogle()" class="uk-icon-button uk-margin-small-right"-->
<!--uk-icon="google-plus"></a>-->
<!--<a *ngIf="authService.user | async as user"><img class="uk-icon-button" [src]="user.photoURL" width="50px" height="50px"></a>-->
<!--<div uk-dropdown="mode: click">-->
<!--<ul class="uk-nav uk-dropdown-nav">-->
<!--<li class="uk-nav-header">Account</li>-->
<!--<li><a href="#">Route Detail</a></li>-->
<!--<li><a href="#">History</a></li>-->
<!--<li><a href="#">Payment</a></li>-->
<!--<li class="uk-nav-divider"></li>-->
<!--<li (click)="logout()"><a><span uk-icon="sign-out"></span>Logout</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->




