<div class="modal fade" id="vehicle" style="z-index:9999999;">
  <div class="modal-dialog modal-lg" style="text-align: center;">
    <div class="modal-content" style="height:450px;padding: 2%;margin-top: 13%;">
      <div class="title" style="margin-top: 2%;z-index: 999;color: black">Vehicle information
      </div>
      <li class="uk-nav-divider"></li>
      <form name="userForm" ng-submit="submitForm()">
        <div class="form-group">
          <label style="color: black">License</label>
          <input type="text" name="license" class="form-control" placeholder="Enter License">
        </div>
        <div class="form-group">
          <label style="color: black">Province</label>
          <input type="text" name="province" class="form-control" placeholder="Enter Province">
        </div>
        <div class="form-group">
          <label style="color: black">Brand</label>
          <input type="text" name="brand" class="form-control" placeholder="Enter Brand">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
