<div class="modal fade" id="history" style="z-index:9999999;">
  <div class="modal-dialog" style="text-align: center;">
    <div class="modal-content" style="height:450px;padding: 2%;margin-top: 13%;">
      <div class="title" style="margin-top: 2%;margin-bottom: 1%;z-index: 999;color: black;">History
      </div>
      <div class="list-group">
        <div class="list-group" style="z-index: 9999999;">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
             style="overflow-x: auto;overflow-y:auto;">
            <div id="historyData" style="position: relative;text-align: center;">
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div style="color: #dd131b;text-align: center;">ตอนนี้ทดลอง Query จากตาราง user ก่อน รอฝั่ง Back end
              สร้างตาราง History
            </div>
          </a>

          <table style="width:100%; color: #000;">
            <tr>
              <th>ลำดับ</th>
              <th>จุดหมาย</th>
            </tr>
            <tr *ngFor="let item of transaction; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.destinationName}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
